services:

  app:
    image: obe/php:latest
    build:
      context: ./docker/php
      dockerfile: local.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.local.ini:/usr/local/etc/php/php.ini'
    networks:
      - obe
    depends_on:
      - mysql
      - redis
    command: ["php", "/var/www/html/artisan", "octane:start", "--host=0.0.0.0", "--port=8000"]

  horizon:
    image: obe/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
    command: php artisan horizon
    networks:
      - obe
    depends_on:
      - redis
      - app

  schedule:
    user: 'root'
    restart: always
    image: obe/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
      - './docker/php/cron/laravel:/etc/crontabs/root'
    command:
      [ "crond", "-f" ]
    networks:
      - obe
    depends_on:
      - app

  nginx:
    image: nginx:alpine
    ports:
      - "${FORWARD_NGINX_PORT:-80}:80"
    volumes:
      - './public:/var/www/html/public'
      - './storage:/var/www/html/storage'
      - './docker/nginx/local.conf:/etc/nginx/conf.d/default.conf'
      - './docker/nginx/nginx.conf:/etc/nginx/nginx.conf'
    networks:
      - obe
    depends_on:
      - app

  mysql:
    image: 'mysql:8.0'
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD:-secret}'
      MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD:-rootsecret}'
    volumes:
      - 'mysql:/var/lib/mysql'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    networks:
      - obe
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      retries: 3
      timeout: 5s


  redis:
    image: 'redis:alpine'
    volumes:
      - 'redis:/data'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    networks:
      - obe
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      retries: 3
      timeout: 5s

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
    ports:
      - 8085:80
    networks:
      - obe
#    depends_on:
#      - mysql

volumes:
  mysql:
    driver: local
  redis:
    driver: local

networks:
  obe:
    driver: bridge
