version: '3.9'
services:

  app:
    # user: root
    image: fora/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
    networks:
      - fora
    depends_on:
      - mysql
      - redis
      - mailhog
    command: [ "php", "/var/www/html/artisan", "octane:start", "--host=0.0.0.0", "--port=8000" ]

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './public:/var/www/html/public'
      - './storage:/var/www/html/storage'
      # - './docker/nginx/stage.fpm.conf:/etc/nginx/conf.d/default.conf'
      - './docker/nginx/stage.octane.conf:/etc/nginx/conf.d/default.conf'
      - './docker/nginx/nginx.conf:/etc/nginx/nginx.conf'
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/nginx/ssl
    networks:
      - fora
    depends_on:
      - app

  mysql:
    image: 'mysql:8.0'
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD:-secret}'
      MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD:-rootsecret}'
    volumes:
      - 'mysql_8:/var/lib/mysql'
    # ports:
    #   - '${FORWARD_DB_PORT:-3306}:3306'
    networks:
      - fora
    command: --skip-ssl --require-secure-transport=OFF --sort_buffer_size=4M
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      retries: 3
      timeout: 5s

  postgres:
    image: ankane/pgvector
    container_name: postgres_db
    environment:
      POSTGRES_DB: fora_api
      POSTGRES_USER: user
      POSTGRES_PASSWORD: usersecret
    volumes:
      - pg_data:/var/lib/postgresql/data
    # ports:
    #     - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "user" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - fora

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8087:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - fora

  ollama:
    image: ollama/ollama
    # ports:
    #     - "11434:11434" # Доступ к API
    volumes:
      - ollama_data:/root/.ollama # Для хранения моделей
    restart: unless-stopped

  redis:
    image: 'redis:alpine'
    command: redis-server --appendonly yes --replica-read-only no
    volumes:
      - 'redis:/data'
    # ports:
    #     - '${FORWARD_REDIS_PORT:-6379}:6379'
    networks:
      - fora
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      retries: 3
      timeout: 5s

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      # - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-user}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-password}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - fora

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
    ports:
      - 8088:80
    networks:
      - fora
    depends_on:
      - mysql

  mailhog:
    image: 'mailhog/mailhog:latest'
    restart: always
    ports:
      # - '${FORWARD_MAILHOG_PORT:-1025}:1025'
      - '${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025'
    networks:
      - fora

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/letsencrypt
    networks:
      - fora
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  #  horizon:
  #    image: fora/php:latest
  #    build:
  #      context: ./docker/php
  #      dockerfile: stage.Dockerfile
  #    volumes:
  #      - '.:/var/www/html'
  #      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
  #    command: php artisan horizon
  #    networks:
  #      - fora
  #    depends_on:
  #      - redis
  #      - app

  worker:
    image: fora/php:latest
    restart: always
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
      - './docker/php/supervisor:/etc/supervisor'
    command: [ "supervisord", "-c", "/etc/supervisor/supervisord.conf" ]
    user: root
    networks:
      - fora
    depends_on:
      - app

  schedule:
    user: 'root'
    restart: always
    image: fora/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
      - './docker/php/cron/laravel:/etc/crontabs/root'
    command: [ "crond", "-f" ]
    networks:
      - fora
    depends_on:
      - app

  reverb:
    image: fora/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
      - './docker/php/supervisor:/etc/supervisor'
    command: [ "supervisord", "-c", "/etc/supervisor/reverb.conf" ]
    user: root
    ports:
      - "6011:6011"
    networks:
      - fora
    depends_on:
      - app
      - redis

volumes:
  rabbitmq_data:
    driver: local
  mysql_8:
    driver: local
  pg_data:
    driver: local
  ollama_data:
    driver: local
  redis:
    driver: local
  certbot_www:
    driver: local
  certbot_conf:
    driver: local

networks:
  fora:
    driver: bridge
