version: '3.9'
services:

  app:
    image: obe/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
    networks:
      - obe
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './public:/var/www/html/public'
      - './storage:/var/www/html/storage'
      - './docker/nginx/stage.conf:/etc/nginx/conf.d/default.conf'
      - './docker/nginx/nginx.conf:/etc/nginx/nginx.conf'
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/nginx/ssl
    networks:
      - obe
    depends_on:
      - app

  mysql:
    image: 'mysql:8.0'
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD:-secret}'
      MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD:-rootsecret}'
    volumes:
      - 'mysql:/var/lib/mysql'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    networks:
      - obe
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      retries: 3
      timeout: 5s

  redis:
    image: 'redis:alpine'
    volumes:
      - 'redis:/data'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    networks:
      - obe
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      retries: 3
      timeout: 5s

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
    ports:
      - 8088:80
    networks:
      - obe
    depends_on:
      - mysql

  adminer:
    image: adminer
    ports:
      - 8080:8080
    networks:
      - obe
    depends_on:
      - mysql

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/letsencrypt
    networks:
      - obe

  horizon:
    image: obe/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
    command: php artisan horizon
    networks:
      - obe
    depends_on:
      - redis
      - app

  schedule:
    user: 'root'
    restart: always
    image: obe/php:latest
    build:
      context: ./docker/php
      dockerfile: stage.Dockerfile
    volumes:
      - '.:/var/www/html'
      - './docker/php/php.stage.ini:/usr/local/etc/php/php.ini'
      - './docker/php/cron/laravel:/etc/crontabs/root'
    command:
      [ "crond", "-f" ]
    networks:
      - obe
    depends_on:
      - app

volumes:
  mysql:
    driver: local
  redis:
    driver: local
  certbot_www:
    driver: local
  certbot_conf:
    driver: local

networks:
  obe:
    driver: bridge