version: '3.9'

services:
  postgres:
    image: ankane/pgvector
    container_name: postgres_db
    environment:
      POSTGRES_DB: ujv_api
      POSTGRES_USER: user
      POSTGRES_PASSWORD: usersecret
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "user"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - vector_net

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8087:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - vector_net

volumes:
  pg_data:

networks:
  vector_net:
    driver: bridge
