<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

	# Enable CORS (add this section before the front controller rules)
	<IfModule mod_headers.c>
	<IfModule mod_headers.c>
		SetEnvIf Origin "https://ddwlx1ki3fks2\.cloudfront\.net$" AccessControlAllowOrigin=$0
		SetEnvIf Origin "https://ftcrniw4u7\.us-east-1\.awsapprunner\.com$" AccessControlAllowOrigin=$0
		SetEnvIf Origin "https://tajawp36ym\.us-east-1\.awsapprunner\.com$" AccessControlAllowOrigin=$0
		Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
	</IfModule>

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>

