@import "tailwind.css";

[x-cloak] {
    display: none !important;
}

.large-button {
    font-size: 1.1rem;
    font-weight: bold;
}

.hotel-form-toggle-container {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hotel-form-toggle-label {
    margin-right: 10px;
}

.hotel-form-toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.hotel-form-toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.hotel-form-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.hotel-form-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.hotel-form-toggle-button input:checked + .hotel-form-slider {
    background-color: #0f60dc;
}

.hotel-form-toggle-button input:checked + .hotel-form-slider:before {
    transform: translateX(26px);
}

.custom-repeater-class .grid.gap-y-2{
    row-gap: 0 !important;
}

.choices__button {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23ffffff" d="M19.07 4.93a1 1 0 0 0-1.41 0L12 10.59 6.34 4.93a1 1 0 0 0-1.41 1.41L10.59 12l-5.66 5.66a1 1 0 0 0 1.41 1.41L12 13.41l5.66 5.66a1 1 0 0 0 1.41-1.41L13.41 12l5.66-5.66a1 1 0 0 0 0-1.41z"%3E%3C/path%3E%3C/svg%3E') !important;
    background-repeat: no-repeat;
}

.choices .choices__input.choices__input--cloned{
    padding-left: 10px !important;
}

.scrollable-column {
    max-height: 115px;
    overflow-y: auto;
}

.copy-clipboard-btn {
    padding-left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    color: #6563ff;
}

:is([data-mode=dark] .copy-clipboard-btn) {
    color: #c1c0ff;
}

.copy-tooltip {
    position: absolute;
    background-color: #333;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1000;
}

#inspector-table td > div > div {
    display: flex;
    justify-content: space-between;
    padding: 0 .3rem;
}
